---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */

/*
#search-results a, #search-hints .post-tag, a {
    color: #025955;
}
*/

body {
  font-family: 'Open Sans', 'Source Sans Pro', 'Microsoft Yahei', sans-serif;
}

.post-content {
    font-size: 0.9rem;
//     font-weight: 300;
    line-height: 1.5;
    margin-top: 2rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

#access-lastmod {
  li {
    height: 1.5rem;
  }
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.15rem;
}

h5 {
  font-size: 1.1rem;
}

#post-list .post-preview h1 a {
    font-size: 1.2rem;
}

blockquote.prompt-tip::before, .prompt-info::before, .prompt-warning::before, .prompt-danger::before {
    display: none;
}

blockquote[class^=prompt-] {
    padding: 1rem 1rem 1rem 1.1rem;
}

.fa-github:before {
    content: "\f167";
}
